numpy~=1.24.3
setuptools
scipy~=1.10.1
tqdm~=4.65.0
scikit-learn
scikit-image~=0.20.0
matplotlib~=3.7.1
plotly
tensorboardX
torch
tensorboard
torchvision~=0.15.2
sacred~=0.8.2
pydantic
opencv-python-headless
albumentations
jupyter
black
mypy
pytest
pylint
mkdocs
pandas~=2.0.1
h5py~=3.8.0
omegaconf
mlflow
